Package:	syncthing
Version:	2.0.5
Packager:	lojziczech
Email:
Homepage:	https://www.syncthing.net
Description:	Open Source Continuous File Synchronization
Icon:		logo.png
AddonShowName:	Syncthing
AddonIndexPage:	index.php
AddonUsedPort:
InstDepend:
InstConflict:
StartDepend:
StartConflict:
CenterType:
UserControl:
MinFWVer: 5.00.194
MaxFWVer:
IndividualFlag: 0
